@import '../../GlobalStyles/Settings.scss';

.font-kumbh {
    font-family: $font-family-kumbh-sans;
}

.font-roboto {
    font-family: $font-family-roboto;
}

.font-space {
    font-family: $font-family-space-mono;
}